<div class="ng1-immo-card">

    <div class="ng1-immo-card__header">
        <div class="ng1-immo-card__price">
            {prix}
        </div>  
        <div class="ng1-immo-card__slides">
            {slides|render_slides}
        </div>  
    </div>
    <div class="ng1-immo-card__body">
        <div class="ng1-immo-card__nb-pieces">
            {nb_pieces}
        </div>
        <div class="ng1-immo-card__surface">
            {surface}
        </div>
        <div class="ng1-immo__rooms">{nbChambres}</div>
        <div class="ng1-immo__surface-terrain"> {surface_terrain}</div>
        <div class="ng1-immo__excerpt">{description}</div>
    </div>

    
</div>