.ng1-import-progress {
  background-color: black;
  color: white;
  min-height: 50px;
  padding: 10px 8px;
  border-radius: 8px;
}
.ng1-import-progress__bar {
  width: 100%;
  height: 10px;
  position: relative;
  background: lightgrey;
}
.ng1-import-progress__progress {
  height: 10px;
}